.dashboard .MuiButton-root {
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.dashboard .MuiButton-root:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
