.user-post .MuiButton-root {
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.user-post .MuiButton-root:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
