.MuiTableCell-root {
  text-align: center !important;
  font-weight: bold !important;
}

.MuiTableContainer-root {
  border-radius: 15px !important;
}

.head-table .MuiTableCell-root {
  font-size: 17px;
}

/* .MuiTableRow-root {
    background: rgb(220, 220, 220);
  } */
