.form-container {
  /* border: 2px solid black; */
  height: 80vh;
  margin-top: 20px;
}

.form-container .MuiTypography-h4 {
  text-align: center;
  color: lightgray;
  margin-bottom: 20px;
  margin-top: 10px;
}

form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

form .MuiInputLabel-root {
  color: white !important;
}

form .MuiTextField-root {
  width: 75%;
}

form .MuiOutlinedInput-root {
  color: white !important;
}

form .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: lightgray !important;
}

form .MuiButton-root {
  background-color: white;
  color: black;
  font-weight: bold;
  width: 75%;
}

form .MuiButton-root:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
